:root {
  --color-primary: #4D81F1;
  --color-primary-hover: #4879e0;
  --color-text: #1e1f21;
  --color-text-lighter: #4C4D4E;
  --color-body-background: #F9F8F8;
  --color-main-background: #fff;
  --color-gray: #eaeaea;
  --color-darker-gray: #d5d5d5;
}

.dark-mode {
  --color-text: white;
  --color-text-lighter: #a5b0b9;
  --color-body-background: #080f25;
  --color-main-background: #080f25;
}

body {
  background-color: var(--color-body-background) !important;
  margin: 0;
  padding: 0;
  color: var(--color-text) !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.nav-link {
  color: var(--color-text) !important;
}

.navbar .nav-link {
  font-size: 13pt;
  font-weight: 500;
  padding: 20px !important;
  color: var(--color-text-lighter) !important;
}

.navbar .nav-link.active,
.nav-link:hover {
  color: var(--color-text) !important;
}

#logo-image {
  max-height: 45px;
  height: 100%;
}

.logo-image-wrapper {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.bold {
  font-weight: bold !important;
}

.btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.btn-primary:hover{
  background-color: var(--color-primary-hover) !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.text-secondary {
  color: rgb(101, 105, 110) !important;
}

.rounded-large {
  border-radius: 1.5rem !important;
}

.txt-light {
  color: var(--color-text-lighter) !important;
}

.tech-stack-list li {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-weight: 500;
}

.experience-level {
  display: flex;
  align-items: center;
  padding-top: .5rem;
}

.experience-level .line {
  height: 8px;
  width: 35px;
  margin-right: .5rem;
  border-radius: 1.3rem;
  background-color: green;
}

@media only screen and (max-width: 850px) {
  h2 {
    text-align: center;
  }

  .navbar-nav {
    background-color: #101418 !important;
  }
}


::-webkit-scrollbar {
  width: 10px
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 2rem
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: var(--color-gray);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: var(--color-darker-gray);
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.moon {
	color: #0092d5 !important;
}

.sun {
	color: #eeff00 !important;
}